<web-app>

   <!-- General description of your Web application -->
   <display-name>
      CNT 4714 Spring 2020 Project 4
   </display-name>

   <description>
      This is a web application in which we 
      can manage a database from.
   </description>

   <servlet>
    		<servlet-name>sqlquery</servlet-name>

    		<description>
    	 	    A database management servlet application
    		</description>

    		<servlet-class>
    		   SQLServletQuery
    		</servlet-class>
    		
    		<init-param>
    		   <param-name>databaseDriver</param-name>
    	 	   <param-value>com.mysql.cj.jdbc.Driver</param-value>
    		</init-param>
    		
    		<init-param>
    		    <param-name>databaseName</param-name>
    		    <param-value>jdbc:mysql://localhost:3312/project4</param-value>
    		</init-param>
    		
    		<init-param>
            	<param-name>username</param-name>
    	    	<param-value>root</param-value>
    		</init-param>
    		
    		<init-param>
    		    <param-name>password</param-name>
    		    <param-value>passwordhere</param-value>
    		</init-param>
   </servlet>

	<servlet-mapping>
		<servlet-name>sqlquery</servlet-name>
		<url-pattern>/sqlquery</url-pattern>
	</servlet-mapping>

</web-app>
